@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

:root {
  --bold: 900;
  --regular: 400;
}
body {
  margin: 0;
  padding: 0;
  background-color: rgb(244, 244, 244);
  color: #333;
  font-family: 'Heebo', sans-serif;
 }

html {
  font-size: 10px;
}

* {
  box-sizing: border-box
}

h1 {
  font-weight: var(--regular);
}

p {
  font-size: 1.6 rem;

}

small {
  font-size: 1.2 rem;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding: 40px;
}

.title {
  font-size: 4.4rem;
  text-align: center;
}


/* Search */

.search {
  border-radius: 1em;
  color: black;
  padding: .5em;
  border: 2px solid black;
}